:root {
  --bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accents: hsl(277, 64%, 61%);

  --main-heading: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: grid;
  place-content: center;
  margin: 0;
  font-size: 15px;
  font-family: "Inter";
  background-color: var(--bg);
}
img {
  max-width: 100%;
  display: block;
  background-position: left;
  object-fit: cover;
  background-position: left;
}
main {
  --border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 1fr;
  width: 25rem;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  text-align: center;

  > * + * {
    margin-inline: 1rem;
  }
  &:last-child {
    padding-bottom: 2rem;
  }
}
h1 {
  color: var(--main-heading);

  > span {
    color: var(--accents);
  }
}
h2 {
  color: var(--main-heading);
}
p {
  color: var(--paragraph);
  font-weight: 400;
  opacity: 0.7;
}
.stats-preview__image {
  position: relative;
  isolation: isolate;
  max-width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--accents);
    opacity: 0.5;
    inset: 0;
  }
}
.stats-preview__title {
  padding: 1rem;
}
.stats-preview__stats {
  display: grid;
  gap: 0.5rem;
  > * {
    display: grid;
  }
  > * > span {
    color: var(--paragraph);
    text-transform: uppercase;
    translate: 0 -1rem;
    opacity: 0.7;
    font-family: "Lexend Deca";
  }
}
@media (min-width: 850px) {
  main {
    width: auto;
    max-width: 60rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: start;

    &:last-child {
      padding-bottom: 0;
    }
  }
  .stats-preview__image {
    grid-column: 2 / 3;
    grid-row: span 2;
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    > img {
      height: 100%;
    }
  }
  .stats-preview__title {
    grid-column: 1;
    grid-row: 1;
    /* padding: 1rem; */
  }
  .stats-preview__stats {
    grid-column: 1 /2;
    grid-row: 2;
    display: flex;
    justify-content: start;
    padding-inline: 1rem;

    gap: 4rem;
  }
}
